* {
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
}

/* NAVBAR STYLING BEGINS HERE */
.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.brand-title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: cursive;
  margin: 2rem;
  padding-right: 500px;

}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #132945;
    font-size: 20px;
}
.nav-items{
 display: flex;
  flex-direction: row;
align-items: center;
}

/* NAVBAR STYLING ENDS HERE */

header {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h2 {
  color: #2f60a0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 70px;
}
.underText {
  color: #0d213b;
  transition: 1200ms;
  margin-top: 38px;
  font-size: 20px;
  font-family: cursive;
  padding: 10px;
}
.underText:hover{
  text-decoration: underline;
color: grey;
}
.heading{
  padding-top: 2rem;
text-align: center;
color: #2f60a0;
font-family: cursive;
font-size: 38px;
}
.about {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  /* flex-wrap: wrap; */
}

.about h2 {
  position: relative;
}


.about-contents {
  display: flex;
  padding-left: 6%;
  padding-top: 2rem;
  justify-content: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin: auto;
  max-height: fit-content;
}

.about-box {
  padding: 50px;
  text-indent: 50px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px 2px #132945;
  margin: 30px;
  font-size: large;
  width: 45%;
  color: rgb(56, 55, 55);
}

.about-img {
  padding-top: 60px;
  margin-left: 4rem;
  width: 37%;
}

@media screen and (max-width: 1200px) {
  div.about-img {
    margin: 0;
  }
}
@media screen and (max-width: 1100px) {
  div.about-img {
    display: flex;
    justify-content: center;
  }
  /* .about-box{
        min-width: 400px;
    } */
}
@media screen and (max-width: 600px) {
  div.about-img {
    padding: 0;
  }
}

@media screen and (max-width: 430px){
    body{
        overflow: hidden;
    }
    #about{
        margin: 0;
        padding: 0;
	padding-bottom: 10px;
    }
    div.about-box{
        margin: 10px;
    }
    div.about-img > img{
        display: block;
        width: 200px;
    }
}
.education{
  padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}
.education h2 {
  position: relative;
}

.education-box {
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px 2px #132945;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  float: left;
}
.vertical {
  border-left: 3px solid black;
  height: 140px;
  position: flex;
  left: 50%;
}
.skills {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #132945;
  color: white;
  padding: 20px;
}
.skills h2 {
  position: relative;
}

.skills-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-card {
  /* background-color: rgb(0, 143, 143,0.1); */
  box-shadow: 0px 2px 10px 2px rgb(255, 255, 255, 0.3);
  color: black;
  padding: 20px;
  margin: 20px;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skill {
  color: white;
}

/*Mobile Screen*/
@media screen and (max-width: 768px) {
  .education-box {
    padding: 10px;
    flex-direction: column;
  }
  .vertical {
    border-left: 0;
    height: auto;
    border-top: 3px solid black;
    width: 70%;
  }
}
.education-subsection {
  padding: 2rem;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
}

.h2 {
  height: 25px;
  padding: 1rem;
  padding-bottom: 0.8rem;
}
.h2:hover {
  border-bottom:2px solid blue;
}
@media (max-width: 800px) {
  .h2 {
    border-radius: 5;
  }

}

    .contact {
      padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        font-family: 'Source Sans Pro', sans-serif;
        color: #132945;
    }
    
    .contact h2 {
        position: relative;
    }
  footer {
      height: 15vh;
      background-color: white;
      font-family: 'Source Sans Pro', sans-serif;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
  }
  footer h2{
      position: relative;
  }

  footer ul {
      display: flex;
      width: 40%;
      justify-content: space-evenly;
      margin: 3vh 0;
      margin-bottom: 8vh;
      
  }
  footer ul li {
      list-style-type: none;
  }
  footer a {
      text-decoration: none;
      color: black;
      font-size: 1.7rem;
      transition: 200ms;
  }
  footer i {
      transition: 200ms;
      color: #2f60a0;
  }
  footer i:hover{
      color: #0d213b;  
      padding: 8px;
      border-radius: 50%;
      background-color: grey;
  }
  .credits{
color: white;
background-color: #132945;
width: 100%;
padding: 12px;
text-align: center;
  }
  
  
  
